/* ---------- root variables ---------- */
:root {
  --white: #FCFCFC;
  --black: rgb(20, 20, 20);
  --light-grey: #969696;
}

/*
Arboria Book Italic
font-family: arboria, sans-serif;
font-weight: 400;
font-style: italic;

Arboria Book
font-family: arboria, sans-serif;
font-weight: 400;
font-style: normal;

Arboria Medium
font-family: arboria, sans-serif;
font-weight: 500;
font-style: normal;

Arboria Bold
font-family: arboria, sans-serif;
font-weight: 700;
font-style: normal;
*/

/* ---------- general styling ---------- */
html {
  color: var(--black);
  font-family: arboria, sans-serif;
  height: 100%;
  width: 100%;
  font-weight: 400;
  background-color: var(--white);
}

body {
  margin: 0;
}

button {
	background: none;
	color: inherit;
	border: none;
	cursor: pointer;
  outline: inherit;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

p {
  margin: 0 auto;
  width: 453px;
  font-size: 15pt;
  line-height: 22pt;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  text-align: end;
  width: 95%;
}

/* ---------- Style the links inside the navigation bar ---------- */
.tabbar a {
  display: inline-block;
  color: var(--text-color-light);
  padding: 30px 16px 10px 16px;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 0.08em;
  position: relative;
  font-weight: 500;
  opacity: 0.5;
}

.tabbar a, 
.tabbar a:after,
.tabbar a:before {
  transition: all .7s;
}

/* ---------- stroke / line under tabbar ---------- */ 
#stroke a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--black);
  height: 2px;
}

#stroke a:hover:after {
  width: 45%;
}

#stroke a:hover {
  opacity: 1;
}

/* ---------- page styling ---------- */
.page {
  display: none;
  animation: fadeIn 0.4s;
}

/* ---------- logo styling ---------- */
.logo {
  position: absolute;
  padding-left: 5%;
  margin: 30px auto;
  width: 100%;
  max-width: 120px;
}

/* ---------- topbar styling ---------- */
.topbar {
  background-color: transparent;
  padding: 1.5em 0;
}

.topbar h2 {
  margin: 0;
  font-weight: 700;
  font-size: 35pt;
  text-align: center;
  margin-top: 150px;
}

/* ---------- header styling ---------- */
header {
  background-color: var(--green);
}


/* ---------- projects page styling ---------- */ 

.arrowdown {
  margin-top: 18%;
  text-align: center;
  width: 100%;
}


.arrowdown img {
  width: 50px;
  animation-name: jump;
  animation-delay: 4s;
  animation-duration: 1.7s;
  animation-iteration-count: 4;
  transform: translate(-50%, -50%);
}







/* ---------- text selection color ---------- */
p::selection {
  background: #F8484F;
  color: var(--white);
}
p::-moz-selection {
  background: #F8484F;
  color: var(--white);
}

h1::selection {
  background: #F8484F;
  color: var(--white);
}

h1::-moz-selection {
  background: #F8484F;
  color: var(--white);
}

h2::selection {
  background: #F8484F;
  color: var(--white);
}

h2::-moz-selection {
  background: #F8484F;
  color: var(--white);
}

img::selection {
  background: #F8484F;
}

img::-moz-selection {
  background: #F8484F;
}

a::selection {
  background: #F8484F;
  color: var(--white);
}

a::-moz-selection {
  background: #F8484F;
  color: var(--white);
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes jump {
  0% { transform: translate(-50%, -50%);}
  50% { transform: translate(-50%, -150%);}
  55% { transform: translate(-50%, -150%) rotate(10deg); }
  60% { transform: translate(-50%, -150%) rotate(-10deg); }
  65% { transform: translate(-50%, -150%) rotate(10deg); }
  70% { transform: translate(-50%, -150%) rotate(-10deg); }
  100% { transform: translate(-50%, -50%);}
}