/* ---------- root variables ---------- */
:root {
  --white: #FCFCFC;
  --black: rgb(20, 20, 20);
  --light-grey: #969696;
}

/*
Arboria Book Italic
font-family: arboria, sans-serif;
font-weight: 400;
font-style: italic;

Arboria Book
font-family: arboria, sans-serif;
font-weight: 400;
font-style: normal;

Arboria Medium
font-family: arboria, sans-serif;
font-weight: 500;
font-style: normal;

Arboria Bold
font-family: arboria, sans-serif;
font-weight: 700;
font-style: normal;
*/

/* ---------- general styling ---------- */
html {
  color: var(--black);
  font-family: arboria, sans-serif;
  height: 100%;
  width: 100%;
  font-weight: 400;
  background-color: var(--white);
}

body {
  margin: 0;
}

h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

p {
  margin: 0 auto;
  width: 453px;
  font-size: 15pt;
  line-height: 22pt;
}

/* ---------- Grid container ---------- */
.grid-container {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

/* ---------- topbar styling ---------- */
.topbar {
  background-color: transparent;
  padding: 1.5em 0;
}

.topbar h2 {
  margin: 0;
  font-weight: 700;
  font-size: 35pt;
  text-align: center;
  margin-top: 150px;
}

/* ---------- header styling ---------- */
header {
  background-color: var(--green);
}

.img-col img {
  max-width: 200px;
  margin: 0;
  position: absolute;
  bottom: 0;
}

.grid-container section {
  position: relative;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  text-align: end;
  width: 95%;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  color: var(--text-color-light);
  padding: 30px 16px 10px 16px;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 0.08em;
  position: relative;
  font-weight: 500;
  opacity: 0.5;
}

.tabbar a, 
.tabbar a:after,
.tabbar a:before {
  transition: all .7s;
}

#stroke a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: var(--black);
  height: 2px;
}


#stroke a:hover:after {
  width: 45%;
}

#stroke a:hover {
  opacity: 1;
}
      

/* ---------- page styling ---------- */
.page {
  display: none;
  animation: fadeIn 0.4s;
}

/* ---------- logo styling ---------- */
.logo {
  position: absolute;
  padding-left: 5%;
  margin: 30px auto;
  width: 100%;
  max-width: 120px;
}

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}